// F O N T S
// =========

@font-face
	font-family: 'Asap'
	src: url('//www.patrickwilver.com/hubfs/fonts/Asap/AsapRegular.otf')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'Asap'
	src: url('//www.patrickwilver.com/hubfs/fonts/Asap/AsapItalic.otf')
	font-weight: normal
	font-style: italic
@font-face
	font-family: 'Asap'
	src: url('//www.patrickwilver.com/hubfs/fonts/Asap/AsapBold.otf')
	font-weight: 600
	font-style: normal
@font-face
	font-family: 'Asap'
	src: url('//www.patrickwilver.com/hubfs/fonts/Asap/AsapBoldItalic.otf')
	font-weight: 600
	font-style: italic



// V A R I A B L E S
// =================
$font-primary: 'Asap', Helvetica, sans-serif
$bg-blue: #2c4e7a
$bg-blue-dark: #1c314d
$off-white: #f9f9f9
$silver: #c2c2c2



// S T Y L E S
// ===========

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	font-family: $font-primary
	font-weight: 400
	margin: 0
	padding: 0

	video
		max-width: none

.video--wrapper
	display: block
	position: relative
	background: $bg-blue
	text-align: center
	-webkit-box-shadow: inset 0 0 10em $bg-blue-dark
	-moz-box-shadow: inset 0 0 10em $bg-blue-dark
	box-shadow: inset 0 0 10em $bg-blue-dark
	width: 100%
	height: 100vh

	*
		color: $off-white

	.videos__container
		position: absolute
		top: 50%
		left: 50%
		-webkit-transform: translate(-50%, -50%)
		-moz-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)

		.videos__nav
			list-style: none
			margin: 0 0 30px
			padding: 0

			li
				display: inline-block

			a
				display: inline-block
				position: relative
				color: $bg-blue-dark
				text-decoration: none
				text-transform: uppercase
				letter-spacing: 2px
				margin: 0 15px
				padding: 5px 0

				&:before
					content: attr(data-hover)
					overflow: hidden
					white-space: nowrap
					position: absolute
					top: 0
					left: 0
					color: $off-white
					border-bottom: 2px solid $silver
					max-width: 0
					padding: 5px 0
					-webkit-transition: max-width .5s ease
					-moz-transition: max-width .5s ease
					transition: max-width .5s ease

				&.active
					color: $off-white

					&:before
						content: none

		.videos__content
			font-size: 0 // reduce space below video
			border: 8px solid $silver
			border-radius: 4px
			-webkit-box-shadow: 0 0 10px $bg-blue-dark
			-moz-box-shadow: 0 0 10px $bg-blue-dark
			box-shadow: 0 0 10px $bg-blue-dark

			video
				width: 600px
				height: 337px

// hover state for nav items
@media screen and (min-width: 768px)
	.video--wrapper
		.videos__container
			.videos__nav
				a:hover
					&:before
						max-width: 100%


@media screen and (max-width: 767px)
	.video--wrapper
		.videos__container
			.videos__nav
				margin: 0 0 15px

				li
					display: block

				a
					color: $off-white

			.videos__content
				border: 4px solid $silver
				border-radius: 2px

				video
					width: 425px
					height: 239px

@media screen and (max-width: 480px)
	.video--wrapper
		.videos__container
			.videos__content
				video
					width: 275px
					height: 155px