@font-face {
  font-family: "Asap";
  src: url("//www.patrickwilver.com/hubfs/fonts/Asap/AsapRegular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Asap";
  src: url("//www.patrickwilver.com/hubfs/fonts/Asap/AsapItalic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Asap";
  src: url("//www.patrickwilver.com/hubfs/fonts/Asap/AsapBold.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Asap";
  src: url("//www.patrickwilver.com/hubfs/fonts/Asap/AsapBoldItalic.otf");
  font-weight: 600;
  font-style: italic; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Asap", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }
  body video {
    max-width: none; }

.video--wrapper {
  display: block;
  position: relative;
  background: #2c4e7a;
  text-align: center;
  -webkit-box-shadow: inset 0 0 10em #1c314d;
  -moz-box-shadow: inset 0 0 10em #1c314d;
  box-shadow: inset 0 0 10em #1c314d;
  width: 100%;
  height: 100vh; }
  .video--wrapper * {
    color: #f9f9f9; }
  .video--wrapper .videos__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .video--wrapper .videos__container .videos__nav {
      list-style: none;
      margin: 0 0 30px;
      padding: 0; }
      .video--wrapper .videos__container .videos__nav li {
        display: inline-block; }
      .video--wrapper .videos__container .videos__nav a {
        display: inline-block;
        position: relative;
        color: #1c314d;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 15px;
        padding: 5px 0; }
        .video--wrapper .videos__container .videos__nav a:before {
          content: attr(data-hover);
          overflow: hidden;
          white-space: nowrap;
          position: absolute;
          top: 0;
          left: 0;
          color: #f9f9f9;
          border-bottom: 2px solid #c2c2c2;
          max-width: 0;
          padding: 5px 0;
          -webkit-transition: max-width 0.5s ease;
          -moz-transition: max-width 0.5s ease;
          transition: max-width 0.5s ease; }
        .video--wrapper .videos__container .videos__nav a.active {
          color: #f9f9f9; }
          .video--wrapper .videos__container .videos__nav a.active:before {
            content: none; }
    .video--wrapper .videos__container .videos__content {
      font-size: 0;
      border: 8px solid #c2c2c2;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 10px #1c314d;
      -moz-box-shadow: 0 0 10px #1c314d;
      box-shadow: 0 0 10px #1c314d; }
      .video--wrapper .videos__container .videos__content video {
        width: 600px;
        height: 337px; }

@media screen and (min-width: 768px) {
  .video--wrapper .videos__container .videos__nav a:hover:before {
    max-width: 100%; } }
@media screen and (max-width: 767px) {
  .video--wrapper .videos__container .videos__nav {
    margin: 0 0 15px; }
    .video--wrapper .videos__container .videos__nav li {
      display: block; }
    .video--wrapper .videos__container .videos__nav a {
      color: #f9f9f9; }
  .video--wrapper .videos__container .videos__content {
    border: 4px solid #c2c2c2;
    border-radius: 2px; }
    .video--wrapper .videos__container .videos__content video {
      width: 425px;
      height: 239px; } }
@media screen and (max-width: 480px) {
  .video--wrapper .videos__container .videos__content video {
    width: 275px;
    height: 155px; } }

/*# sourceMappingURL=wedding-video.css.map */
